@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');


.pList{
  width: 100%;
  max-width: 1140px;
  display: flex;
  justify-content: space-between;
  gap: 20px;
}

.pListItem{
  flex:1;
  border-radius: 10px;
  overflow: hidden;
  cursor: pointer;
}

.pListImg{
  width: 100%;
  height: 150px;
  object-fit: cover;
}

.pListTitles>h1{
  font-size: 20px;
  color: black;
  font-weight: 1000;
}

.pListTitles>h2{
  font-size: 14px;
  font-weight: 500;
}

body {
  overflow-x: hidden;
}
